@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}  

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body{
    background-color: var(--Pale-blue);
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
    width: 325px;
    height: 570px;
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 1px 1px 50px var(--Desaturated-blue);
}
.hero-image img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

.main{
    margin: 10px;
    padding: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5rem;
}

.header h2{
    font-weight: 900;
    padding: 10px;
    margin-bottom: 8px;
    color: var(--Dark-blue);
}

.header p{
    font-weight: 400;
    color: var(--Desaturated-blue);
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
    padding: 15px 10px;
}
.plan{
    margin-top: 10px;
}
h4{
    color: var(--Dark-blue);
    font-weight: 900;
    font-size: 14px;
}

h5{
    color: var(--Desaturated-blue);
    font-weight: 400;
}

.middle a{
    padding-top: 10px;
    font-size: 13px;
    font-weight: 700;
    color: var(--Bright-blue);
    text-decoration: underline;
}

.middle a:hover{
    opacity:0.75;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 50px var(--Pale-blue);
}

.pay{
    font-weight: 900;
    color: var(--Pale-blue);
    background-color: var(--Bright-blue);
    padding: 13px 65px;
    border-color: var(--Bright-blue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}

.pay:hover{
    opacity:0.75;
    cursor: pointer;
}

div a{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: var(--Desaturated-blue);
    font-weight: 700;
    font-size: 15px;
}

div a:hover{
    opacity:0.75;
    cursor: pointer;
}

.attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    text-align: center;
    margin-top: 800px;
     }

.attribution a {
     color: hsl(228, 45%, 44%); 
     font-size: 11px;
     
}
